* {
    margin: 0;
}

html {
    overflow: hidden;
}

body, .midden {
    color: green;
    width: 100vw;
    height: 100vh;
}

.midden, html {
    background-color: red;
}

.midden {
    overflow: hidden;
}

.midden h1 {
    text-align: center;
}

.sneeuw-div {
    position: absolute;
    max-width: 10em;
}

.sneeuw-div line {
    stroke: white;
    stroke-width: 10px;
}

.sneeuw-div polygon {
    fill: none;
    stroke: white;
}

